body {
    margin: 0px;
}

div {
    background-color: #e3fdfd;
}

h1 {
    margin-top: 0px;
}


.middle {
    background-color: #a6e3e9;
    height: 200px;
    width: 200px;
}

.bottom {

    background-color: #71c9ce;
    height: 200px;
    width: 200px;
}