body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* div {
    background-color: #2b2e4a;
} */

h1 {
    font-size: 5rem;
    color: #112d4e;
    /* M  16px = 100% = 1em */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2rem;
    color: #f9f7f7;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #f9f7f7;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #f9f7f7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 8px;
    width: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* 
img {
    display: inline-block;
} */

.top-container {
    position: relative;
    background-color: #dbe2ef;
    padding-top: 100px;
}

.middle-container {
   
    background-color: #112d4e;
}

.bottom-container {
    background-color: #112d4e;
    padding-top: 50px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.subtitle {
    font-weight: normal;
}


.profile-pic {
    margin-top:50px;
    border-radius: 10%;
    height: 200px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.skill-img2 {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.copyright {
    color: #eaf6f6;
    padding-bottom: 50px;
}

.footer-link {
    padding: 30px;
}
/* 
.code-description {
    clear: left;
} */

